<form [ngFormModel]="form" (ngSubmit)="changePassword()">

    <!-- Current Password -->

    <div>
        <label for="currentPassword">Current Password</label>
        <input 
            type="text"
            id="currentPassword"
            class="form-control"
            ngControl="currentPassword"
            #currentPassword="ngForm">
    </div>
    <div
        *ngIf="currentPassword.touched">
        <div
            *ngIf="!currentPassword.valid"
            class="alert alert-danger">
            Current password is required.
        </div>
    </div>

    <!-- New Password -->

    <div>
        <label for="newPassword">New Password</label>
        <input
            type="text"
            id="newPassword"
            class="form-control"
            ngControl="newPassword"
            #newPassword="ngForm">
    </div>
    <div
        *ngIf="newPassword.touched">
        <div
            class="alert alert-danger"
            *ngIf="!newPassword.valid">
            New password is required.
        </div>
        <div
            class="alert alert-danger"
            *ngIf="newPassword.errors.passwordTooShort">
            New password must be at least 5 characters.
        </div>
    </div>

    <!-- Confirm Password -->
    
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
            type="text"
            id="confirmPassword"
            class="form-control"
            ngControl="confirmPassword"
            #confirmPassword="ngForm">
    </div>
    <div
        *ngIf="confirmPassword.touched">
        <div 
            class="alert alert-danger" 
            *ngIf=!confirmPassword.valid>
            Confirm password is required.
        </div>
    </div>

    <!-- Submit button -->

    <button>Change Password</button>
</form>
